h1 {
    padding: 10px;
    margin: 10px;
    font-size: 48px;
}

.navbar-brand {
    font-size: 32px;
    margin: 8px;
}

li {
    font-size: 24px;
}

.background {
    background-image: url(../images/bush.png);
    overflow: auto;
}

main {
    width: 90%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: white;
    padding: 16px;
}

section {
    overflow: auto;
    margin: 24px;
    font-size: 16px;
}

form {
    padding: 0px 24px 24px 24px;
    font-size: 16px;
}

label {
    margin-top: 0.5rem;
}

.aboutmeimage {
    float: left;
    margin-right: 10px;
    width: 50%;
}

.portfolioimagescol {
    padding: 16px;
}

.portfolioimages {
    width: 100%;
}

footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 20px;
}

@media screen and (min-width: 480px) {
    main {
        margin-left: 50px;
        width: 85%;
        max-width: 400px;
    }
    form {
        width: 85%;
    }
}

@media screen and (min-width: 768px) {
    main {
        max-width: 600px;
    }
    form {
        width: 75%;
    }
}