body {
    font-size: 24px;
}

.navbar-brand {
    font-size: 32px;
}

.background {
    background-image: url(../images/cool-background.png);
}

.about {
    overflow: auto;
}

.aboutmeimage {
    float: left;
}

footer {
    background-color: darkgray;
    text-align: center;
    padding: 20px;
}